body {
   background-color: #f4f4f4;
   font-family: Arial, sans-serif;
   /* height: 100%; */
   margin: 0;
   padding: 0;
}

header {
   background-color: #35424a;
   color: #ffffff;
   padding: 20px 0;
   text-align: center;
}

.container {
   margin: auto;
   overflow: hidden;
   width: 80%;
}

.main-content {
   background: #ffffff;
   margin-bottom: 10px;
   padding: 20px;
}

 h1, h2 {
   color: #35424a;
 }

.skills ul {
   list-style-type: none;
   padding: 0;
}

.skills ul li {
   background: #e3e3e3;
   margin: 5px 0;
   padding: 10px;
}

footer {
   background-color: #35424a;
   bottom: 0;
   color: #ffffff;   
   padding: 0; /* padding: 10px 0; */   
   position: fixed;   
   text-align: center;
   width: 100%;
}
